{% extends 'main.html' %}

{% block content %}

<!-- <center><h1>Data</h1></center>

<center>

<br>

DOCTOR : {{doctor}}

<br>

Date : {{date}}

<br> -->

</center>


<div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="sec-title">Drugs Recognized</h2>
      </div>
      <div class="col-md-12">
        {% for drug, drug_inf, adverse_reactions, link_des, link_seff in drug_list %}
        <div class="row rounded bg-white mt-4">
          <div class="col-md-9">
            <div class="card-block p-3">
              <h4 class="card-title mt-0"><a href="{{link_des}}"><strong>{{drug}}</strong></a></h4>
              <p class="text-secondary">
                <strong> {{drug_inf}} </strong> <a href="{{link_des}}"><button type="button" class="btn btn-primary">Read more</button></a>
                <br>
                <strong>{{adverse_reactions}}</strong> <a href="{{link_seff}}"><button type="button" class="btn btn-danger">Read more</button></a>
              </p>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}